.App {
  text-align: center;
  font-family: monospace;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  height: 600px;
}

.left {
  border: 1px solid black;
  width: 65%;
  overflow: scroll;

}

.allchallenges {
  border: 1px solid black;
  width: 33%;
  overflow: scroll
}

.challengeButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submissioncard {
  background-color: seashell;
  padding: 5px;
  margin: 20px;
  border-radius: 25px;
}
