.App {
  text-align: center;
  font-family: monospace;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  height: 600px;
}

.left {
  border: 1px solid black;
  padding-left: 5px;
  width: 65%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FBEEB9;
}

.allchallenges {
  border: 1px solid black;
  padding-left: 5px;
  width: 33%;
  overflow: scroll;
  overflow-x: hidden;
}

.challengeButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submissioncard {
  background-color: seashell;
  padding: 5px;
  margin: 20px;
  border-radius: 25px;
}

a {
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  color: black;
  line-height: 18px;
}

a:hover {
  background-color: #FBEEB9;
}
