@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.head {
  display: flex;
  justify-content: center;
  }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  width: 98.5%;
}

.textbox {
  text-align: right;
  width: 75%;
  line-height: 15px;
}

h3 {
  text-align: right;
  font-size: 30px;;
  font-family: Allison;
  font-weight: 100;
}

img {
  width: 180px;
}

span {
  font-family: sans-serif;
  font-size: 13px;
}

button {
  background-color: white;
  box-shadow: 5px 5px #DDDDDD;
  border-radius: 25px;
  padding: 10px;
  height: 40px;
}

button:active {
  margin-top: 1px;
  margin-bottom: -1px;
  box-shadow: 0px 0px;
}

button:hover {
  background-color: #FBEEB9;
}
